alabaster==0.7.12
appdirs==1.4.4
Babel==2.10.3
black==22.10.0
bleach==5.0.1
build==0.8.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
cryptography==38.0.1
docutils==0.19
esbonio==0.14.1
fesenjoon==0.0.1
google-api-core==2.10.2
google-api-python-client==2.60.0
google-auth==2.12.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.4
httplib2==0.20.4
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
isort==5.10.1
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.1.2
keyring==23.9.3
MarkupSafe==2.1.1
michiko==0.0.2
more-itertools==8.14.0
mypy==0.982
mypy-extensions==0.4.3
oauthlib==3.2.1
packaging==21.3
pathspec==0.10.1
pep517==0.13.0
pkginfo==1.8.3
platformdirs==2.5.2
protobuf==4.21.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.2
pygls==0.12.2
Pygments==2.13.0
pyparsing==3.0.9
pyspellchecker==0.7.0
pytz==2022.4
readme-renderer==37.2
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.0
rfc3986==2.0.0
rich==12.6.0
rsa==4.9
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.2.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
twine==4.0.1
typeguard==2.13.3
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.12
webencodings==0.5.1
yuriyuri==0.0.4
zipp==3.9.0
